body{ background: url(/img/body-bg.png); color:#838383;}

.navbar-inverse .navbar-nav > li > a {
    color: White;
}

.hiddenRow {
    padding: 0 !important;
}

.mypage-header{
    text-align:center;
}

.panel-border{
    border: thin solid;
}

.body-content{
    min-height: 100vh;
}

/*body { 
    background-image: url(/img/bug.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}*/

hr{
    border-top-color :darkgrey;
}

.landing-font{
    font-size:100px;
}

.list-font{
    font-size:16px;
}

.layoutHeader{
    text-align:center;
}
