@model IEnumerable<BugTracker.Models.ApplicationUser>
@using BugTracker.Models.Helpers;

<div container>
    <div class="col-md-12">
        <div class="mypage-header panel-heading">
            <h3>User List</h3>
        </div>
    </div>
    <table class="table" id="users">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Current Role
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            { 
            UserRolesHelper helper = new UserRolesHelper();
            var userRoles = helper.ListUserRoles(item.Id);
            
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)  @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                            @foreach (var role in userRoles)
                            {
                                <p>@role</p>                            
                            }
                    </td>
                    <td>
                        @Html.ActionLink("Update Roles", "UserRoles", new { id = item.Id }, new { @class = "btn btn-default" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

    @section scripts{
        <script type="text/javascript">

            $('#users').DataTable({
                "paging": true,
                "pageLength": 10,
                "bLengthChange": false,
                "info": false,
                "bFilter": false,
                "ordering": false,
                "pagingType": "numbers",
                "searching": true
            });
        </script>
    }

